table {
    text-align: center;
    border: 1px solid black;
}

/* titre (colspan=3) */
#titre {
  background-color: #333;
  color: white;
}

#bouton {
    border: 2px solid black;
    border-radius: 3px;
}